{% extends "layout.html" %}
{% block title %}
    Request New Post
{% endblock %}

{% block page_title %} Request New Post for an event attendance {% endblock %}

{% block content %}
    <form class="my-4" action="/request-new-post" method="post">

        <label class="input my-4">
            <span class="label">Post Title</span>
            <input type="text" id="event_title" name="event_title" value="" required autofocus
                   placeholder="z.B. Bauma 2025">
        </label>

        <br>

        <label class="input my-4">
            <span class="label">Corresponding Date</span>
            <input type="date" id="date" name="date" value="">
        </label>
        <br>

        <label class="floating-label my-4">
            <span>Description</span>
            <textarea class="bg-white text-black p-2" id="description" name="description" rows="10"
                      cols="100"></textarea>
        </label>
        <br>

        <label class="floating-label my-4">
            <span>Positive Impressions</span>
            <textarea class="bg-white text-black p-2" id="good" name="good" rows="10" cols="100"></textarea><br>
        </label>
        <br>

        <label class="floating-label my-4">
            <span>Negative Impressions</span>
            <textarea class="bg-white text-black p-2" id="bad" name="bad" rows="10" cols="100"></textarea><br>
        </label>
        <br>

        <label class="floating-label my-4">
            <span>Goal for Participation</span>
            <textarea class="bg-white text-black p-2" id="goal" name="goal" rows="10" cols="100"></textarea><br>
        </label>
        <br>

        <div class="flex justify-start items-center space-x-4">
            <input class="btn bg-amber-500 text-black" type="reset" value="Clear All Values">
            <input class="btn" type="submit" value="Request">
        </div>
    </form>
{% endblock %}