<!doctype html>
<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New LinkedIn Post Request</title>
</head>
<body>

<h2>Request a new LinkedIn Post</h2>
<form action="/request-new-post" method="post">

    <label for="event_title">Event Title:</label>
    <input type="text" id="event_title" name="event_title" value=""><br>

    <label for="date">Date:</label>
    <input type="text" id="date" name="date" value=""><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description"></textarea><br>

    <label for="good">Good:</label>
    <textarea id="good" name="good"></textarea><br>

    <label for="bad">Bad:</label>
    <textarea id="bad" name="bad"></textarea><br>

    <label for="goal">Goal:</label>
    <textarea id="goal" name="goal"></textarea><br>

    <input type="submit" value="Request">
</form>

</body>
</html>